name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SCP
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          source: "."
          target: "/var/www/rails"

      - name: Execute remote commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /var/www/rails
            export PATH="$HOME/.rbenv/bin:$PATH"
            eval "$(rbenv init -)"

            bundle config unset deployment
            bundle config set --local without 'test'
            bundle install
            bundle exec rails db:migrate RAILS_ENV=development
            bundle exec rails assets:precompile RAILS_ENV=development

            sudo systemctl restart puma
